<div id="comparador" class="page-content">
	<a href="javascript:window.history.go(-1);" class="volver"></a>
	<script>
	var request = app.getRequestData();
	db.selectSql("SELECT * FROM productos WHERE id = "+request.add,[],function(productos){
		var producto = productos[0];
		db.selectSql("SELECT * FROM productos WHERE activo = 1 AND cat_id = "+producto.cat_id,[],function(productos){
			for(var i in productos){
				var val = productos[i];
				$("#gallery").append("<div class='miniprod' prodid="+val.id+"><img class='mainimg' src='"+UPLOADS_URL+val.imagen+"' />"+val.modelo+"</div>");
				
			}
			$(".miniprod").bind(app.clickevent,function(){
				addProducto($(this).attr("prodid"));
				return false;
			});
		},true);
		
		
		
	},true);
	setTimeout(function(){
		addProducto(request.add);
	},800);
	
	
	function addProducto(id){
		var num = $("#comparacion .producto-container").length;
		if(num >= 3){
			
		}else{
			db.selectSql("SELECT * FROM productos WHERE id = "+id,[],function(productos){
				var producto = productos[0];
				var html = $("#demo").html();
				var $div = $("<div class='producto-container' prodid='"+producto.id+"'>").html(html);
				//Configuracion
				$div.find("h3").html(producto.nombre);
				$div.find(".mainimg").attr("src",UPLOADS_URL+producto.imagen);
				$div.find(".precio span").html("$ "+number_format(producto.precio,0,",","."));
				$div.find(".stock span").html(producto.stock);
				$div.find(".ver_ficha").attr("href",$div.find(".ver_ficha").attr("href")+producto.id);
				var caracteristicas = producto.caracteristicas.split("\n");
				var tmp = "";
				for(var i in caracteristicas){
					tmp += "<li>"+caracteristicas[i]+"</li>";	
				}
				$div.find(".caracteristicas").html(tmp);
				
				$div.hide();
				
				//Incrustar
				$div.appendTo("#comparacion");
				
				$div.fadeIn().find(".producto").animate({top:0},app.animationtime*2);
				
				$prod = $div.find(".producto");
				$prod.bind(events.start,function(e){
					var y = (typeof(e.originalEvent.touches) == "undefined")?e.clientY:e.originalEvent.touches[0].clientY;
					$(this).attr("dragging",true);
					$(this).attr("initialY",$(this).css("top").substr(0,$(this).css("top").length-2));
					$(this).attr("initialYtouch",y);
				});
				$prod.bind(events.move,function(e){
					if( $(this).attr("dragging") == "true"){
						var y = (typeof(e.originalEvent.touches) == "undefined")?e.clientY:e.originalEvent.touches[0].clientY;
						var firstY = $(this).attr("initialYtouch");
						var initialY = $(this).attr("initialY");
						
						var diff = firstY - y;
						var newtop = initialY-diff;
						$(this).css({top:newtop});
						
					}
					return false;
				});
				$prod.bind(events.end,function(e){
					$(this).attr("dragging",false);
					var top = $(this).css("top").substr(0,$(this).css("top").length-2);
					if(top >= 150){
						$(this).parent().fadeOut().find(".producto").animate({top:633},app.animationtime,function(){
							$(this).parent().remove();
						});	
					}else{
						$(this).animate({top:0},app.animationtime);
					}
				});
				
			},true);
		}
	}
	
	var obj = {};
	obj.dragging = false;
	$("#gallery").bind(events.start,function(e){
		if(obj.dragging)return false;
		var x = (typeof(e.originalEvent.touches) == "undefined")?e.clientX:e.originalEvent.touches[0].clientX;
		var y = (typeof(e.originalEvent.touches) == "undefined")?e.clientY:e.originalEvent.touches[0].clientY;
		obj.dragging = true;
		obj.startpos = {left:x,top:y}
		$(this).attr("initialMargin",$(this).css("marginLeft"));
		$(this).bind(events.move,function(e){
			var x = (typeof(e.originalEvent.touches) == "undefined")?e.clientX:e.originalEvent.touches[0].clientX;
			var y = (typeof(e.originalEvent.touches) == "undefined")?e.clientY:e.originalEvent.touches[0].clientY;
			var diff = x-obj.startpos.left;
			var initial = $(this).attr("initialMargin")
			initial = parseInt(initial.substr(0,initial.length-2));
			$(this).css("marginLeft",initial+diff);
			e.preventDefault();
			return false;
		}).bind(events.end,function(){
			if(obj.dragging){
				obj.dragging = false;
				$("#gallery").unbind(events.move);
				var m = $("#gallery").css("marginLeft");
				m = parseInt(m.substr(0,m.length-2));
				var m2 = $("#gallery").attr("initialMargin");
				m2 = parseInt(m2.substr(0,m2.length-2));
				var diff = m-m2;
				return false;
			}
		});
		return isTouchDevice();
	});
	
	
	
	</script>
	
	<div id="comparacion">
		
		
		
		
		
	</div>
	
	<div id="gallery-container">
		<div id="gallery">
			
		</div>
	</div>
</div>

<div id="demo" style="display:none;">
	<div class="producto">
		<img src="" class="mainimg" />
		<h3>Nombre del producto</h3>
		
		<ul class="info">
			<li class="precio">Precio: <span></span></li>
			<li class="stock">Stock: <span></span></li>
		</ul>
		
		<a data-ajax href="equipo.html?id=" class="ver_ficha"><img src="images/ver_ficha_n.png" alt="Ver ficha" /></a>
		
		<ul class="caracteristicas">
			
		</ul>
	</div>
</div>