<script>
	var request = app.getRequestData();
	db.selectSql("SELECT * FROM productos WHERE id = "+request.equipo,[],function(productos){
		for(var i in productos){
			var val = productos[i];
			$('.equipo_nombre').html(val.nombre);
		}
	},true);
	
	$('#rut').Rut({
	  on_error: function(){ $("#rut").css("backgroundColor","#FF7B79") },
	  on_success:function(){$("#rut").css("backgroundColor","#fff") },
	  format_on: 'keyup'
	});
	$('#rut_factura').Rut({
	  on_error: function(){ $("#rut_factura").css("backgroundColor","#FF7B79") },
	  on_success:function(){$("#rut_factura").css("backgroundColor","#fff") },
	  format_on: 'keyup'
	});
	
	var now = new Date();
	$("#fecha_entrega").val(now.getDate()+"-"+(now.getMonth()+1)+"-"+now.getFullYear());
	
	$("#form-cotizacion").submit(function(){
		var resp = "";
		if($("[name=nombre]").val() == "")resp+="- Debe ingresar campo nombre\n";
		if($("[name=direccion]").val() == "")resp+="- Debe ingresar campo dirección\n";
		if($("[name=comuna]").val() == "")resp+="- Debe ingresar campo comuna\n";
		if($("[name=ciudad]").val() == "")resp+="- Debe ingresar campo ciudad\n";
		if(!(/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/).test($("[name=email]").val()))resp+="- El email ingresado es inválido\n";
		if($("[name=rut]").val() == "")resp+="- Debe ingresar campo rut\n";
		if($("[name=tipo_documento]").val() == "")resp+="- Debe ingresar el tipo de documento\n";
		if($("[name=numero_documento]").val() == "")resp+="- Debe ingresar el número del documento\n";
		if($("[name=direccion_despacho]").val() == "")resp+="- Debe ingresar dirección de despacho\n";
		//if($("[name=razon_social]").val() == "")resp+="- Debe ingresar razón social\n";
		//if($("[name=giro]").val() == "")resp+="- Debe ingresar campo giro\n";
		if($("[name=telefono]").val() == "")resp+="- Debe ingresar teléfono\n";
		if($("[name=fecha_entrega]").val() == "")resp+="- Debe ingresar fecha de entrega\n";
		//if($("[name=rut_factura]").val() == "")resp+="- Debe ingresar el rut de la factura\n";
		if($("[name=cantidad]").val() == "" || parseInt($("[name=cantidad]").val()) < 1)resp+="- Debe ingresar campo rutEn campo cantidad, puede ingresar 1 o más\n";
		
		if(resp != ""){ //Errores de validacion
			alert("Porfavor, solucione los siguientes problemas: \n\n"+resp);
		}else{ //Todo OK
			var data = [];
			data.push(request.equipo);
			$(this).find("input:not([type=submit]), select").each(function(){
				data.push($(this).val());
			});
			
			db.selectSql("INSERT INTO confirmaciones (equipo_id, tienda_id, nombre, direccion, comuna, ciudad, email, rut, genero, tipo_documento, numero_documento, direccion_despacho, razon_social, giro, telefono, rut_factura,cantidad, fecha_entrega) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",data,function(a,b){
				$("#form-cotizacion").fadeOut(app.animationtime,function(){
					if(navigator.onLine){
						$("#response h3").html("Formulario ingresado satisfactoriamente.").fadeIn(app.animationtime);
						Notification.show("Enviando datos al servidor...",1000);
						db.syncUpload(function(synchronized){
							if(synchronized){
								Notification.show("Datos enviados satisfactoriamente.",2000);
								db.sync(function(){
									if(synchronized)Notification.show("Base de datos sincronizada.",2000);
								});
							}else{
								Notification.show("No se sincronizaron los datos.",2000);	
							}
						});
					}else{
						$("#response h3").html("Formulario ingresado satisfactoriamente.<br /><span style='font-size:12px'>Estás sin conexión, por lo que los datos serán enviados una vez que vuelva internet.</span>")	.fadeIn(app.animationtime);
					}
				});
				
			},true);
		}
		return false;
	});
	
	
	$("#form-pass").submit(function(){
		validatePass($("#password").val(),function(tienda){
			if(tienda != false){
				$("#pass").hide(500);
				$(".form").fadeIn(500);
				$("[name=tienda]").val(tienda);
			}else{
				alert("Contraseña incorrecta");	
			}
		});
		return false;
	});
	
</script>
<style type="text/css">
.form{display:none; }
#pass{position:absolute; width:500px; height:300px; top:50%; left:50%; margin-left:-250px; margin-top:-150px; }
#pass label{color:#fff; }
#pass [type=submit]{background:#ccc; border-radius:5px; padding:8px; margin-left:30px; }
</style>

<div id="confirmacion" class="page-content">
	<a href="javascript:window.history.go(-1);" class="volver"></a>
	
	<div id="pass">
		<form action="" id="form-pass">
		<div class="input">
			<label for="password">Contraseña: </label>
			<input type="password" id="password" name="password" />
		</div>
		<input type="submit" value="Acceder">
		</form>
	</div>
	
	<div class="form">
		<form action="" id="form-cotizacion">
		<input type="hidden" name="tienda" id="tienda" />
		<h2>Confirmación - <span class="equipo_nombre"></span></h2>
		<div class="input">
			<label for="nombre">Nombre: </label>
			<input type="text" id="nombre" name="nombre" />
		</div>
		<div class="input">
			<label for="direccion">Dirección: </label>
			<input type="text" id="direccion" name="direccion" />
		</div>
		<div>
			<div class="input" style="width:45%; float:left;">
				<label for="comuna">Comuna: </label>
				<input type="text" style="width:150px;" name="comuna" id="comuna">
			</div>
			<div class="input" style="width:45%; float:left;">
				<label for="ciudad" style="width:30%">Ciudad: </label>
				<input type="text" style="width:190px;" name="ciudad" id="ciudad">
			</div>
		</div>
		<div class="input">
			<label for="email">E-mail: </label>
			<input type="email" name="email" id="email">
		</div>
		<div class="input">
			<label for="rut">Rut: </label>
			<input type="text" name="rut" id="rut">
		</div>
		<div class="input">
			<label for="genero">Género: </label>
			<select name="genero" id="genero">
				<option value="hombre">Hombre</option>
				<option value="mujer">Mujer</option>
			</select>
		</div>
		<div class="input">
			<label for="tipo_documento">Boleta/factura: </label>
			<select style="float:left;" name="tipo_documento" id="tipo_documento">
				<option value="boleta">Boleta</option>
				<option value="factura">Factura</option>
			</select>
			<label style="width:30px;">Nº</label>
			<input type="text" style="width:390px;" name="numero_documento" />
		</div>
		<div class="input">
			<label for="direccion_despacho">Dirección Despacho: </label>
			<input type="text" name="direccion_despacho" id="direccion_despacho">
		</div>
		<div class="input">
			<label for="razon_social">Razón Social: </label>
			<input type="text" name="razon_social" id="razon_social">
		</div>
		<div>
			<div style="width:45%; float:left;" class="input">
				<label for="giro">Giro: </label>
				<input type="text" style="width:150px" name="giro" id="giro">
			</div>
			<div style="width:45%; float:left;" class="input">
				<label for="telefono" style="width:135px;">Teléfono: </label>
				<input type="text" style="width:170px" name="telefono" id="telefono">
			</div>
		</div>
		<div>
			<div style="width:45%; float:left;" class="input">
				<label for="rut_factura">Rut: </label>
				<input type="text" style="width:150px" name="rut_factura" id="rut_factura">
			</div>
			<div style="width:45%; float:left;" class="input">
				<label for="cantidad" style="width:135px;">Cantidad: </label>
				<input type="text" value="1" style="width:170px" name="cantidad" id="cantidad">
			</div>
		</div>
		<div class="input">
			<label for="fecha_entrega">Fecha de entrega: </label>
			<input type="date" name="fecha_entrega" id="fecha_entrega">
		</div>
		
		<input type="submit" value="Enviar">
		</form>
	</div>
	<div id="response">
		<h3></h3>
	</div>
</div>