<style type="text/css">
#show_codigos{color:#fff; text-align:center; width:192px; display:block; text-decoration:none; background:url("images/botones_dobles.png") no-repeat; height:38px;  }
#show_codigos.current{background-position:0 -37px; }
</style>
<script>
	var request = app.getRequestData();
	db.selectSql("SELECT * FROM subproductos WHERE activo = 1 AND parent_id = "+request.id,[],function(subproductos){
		if(subproductos.length > 0){
			var tmp = "";
			for(var i in subproductos){
				var val = subproductos[i];
				tmp += "<li>"+val.detalle+" ("+val.upc+")</li>";
			}
			$("#skus ul").html(tmp);
		}
		
		
		db.selectSql("SELECT * FROM productos WHERE id = "+request.id,[],function(productos){
			for(var i in productos){
				var val = productos[i];
				var opts = "";
				if(subproductos.length > 0)opts += '<a href="" id="show_codigos"></a><br />';
				opts += '<a data-ajax href="comparador.html?add='+val.id+'"><img src="images/bt_f_comp.png"></a><br />';
				if(val.permitir_compra)opts += '<a data-ajax href="confirmar.html?equipo='+val.id+'"><img src="images/bt_f_desp.png"></a><br />';
				
				opts += '<a href="'+UPLOADS_URL+val.imagen+'" id="ver_galeria"><img src="images/bt_f_img.png"></a><br />'
				opts += '<a data-ajax href="cotizar.html?equipo='+val.id+'"><img src="images/bt_f_mail.png"></a>';
		   
				
				$('.nombre').html(val.nombre);
				$('.mainimg').attr("src",UPLOADS_URL+val.imagen);
				
				if(val.youtube != ""){
					//$(".video").html('<iframe width="200" height="120" src="http://www.youtube.com/embed/'+val.youtube+'" frameborder="0" allowfullscreen></iframe>');
				}
				
				var caracteristicas = val.caracteristicas.split("\n");
				var tmp = "";
				for(var i in caracteristicas){
					tmp += "<li>"+caracteristicas[i]+"</li>";	
				}
				$("#lista-detalle ul").append(tmp);
				
				
				var detalle = val.detalle.split("\n");
				var tmp = "";
				for(var i in detalle){
					tmp += "<li>"+detalle[i]+"</li>";	
				}
				
				$(".detalle").html(tmp);
				$(".opciones").html(opts);
				
				$(".precio span").html("$ "+number_format(val.precio,0,",","."));
				
				if(val.permitir_compra){
					$(".stock span").html(val.stock);
				}else{
					$(".stock").hide();	
				}
				var imagenes = val.galeria.split(",");
				for(var i in imagenes){
					$("#galeria").append("<a href='"+UPLOADS_URL + imagenes[i]+"'></a>");	
				}
				$("#ver_galeria,#galeria a").photoSwipe({ allowUserZoom:false,backButtonHideEnabled:false,enableMouseWheel: false ,  enableKeyboard: false });
				$("#show_codigos").click(function(){
					if($("#caracteristicas-generales").is(":visible")){
						//$(this).html("Ver características generales");
						$(this).addClass("current");
						$("#caracteristicas-generales").fadeOut(500,function(){
							$("#skus").fadeIn(500);
						});
					}else{
						$(this).removeClass("current");
						//$(this).html("Ver códigos de barra");
						$("#skus").fadeOut(500,function(){
							$("#caracteristicas-generales").fadeIn(500);
						});
						
					}
					return false;
				});
			}
		},true);
	},true);
	
	var obj = {};
	obj.dragging = false;
	$("#lista-detalle ul").bind(events.start,function(e){
		if(obj.dragging)return false;
		var x = (typeof(e.originalEvent.touches) == "undefined")?e.clientX:e.originalEvent.touches[0].clientX;
		var y = (typeof(e.originalEvent.touches) == "undefined")?e.clientY:e.originalEvent.touches[0].clientY;
		obj.dragging = true;
		obj.startpos = {left:x,top:y}
		$(this).attr("initialMargin",$(this).css("marginTop"));
		$(this).bind(events.move,function(e){
			var x = (typeof(e.originalEvent.touches) == "undefined")?e.clientX:e.originalEvent.touches[0].clientX;
			var y = (typeof(e.originalEvent.touches) == "undefined")?e.clientY:e.originalEvent.touches[0].clientY;
			var diff = y-obj.startpos.top;
			var initial = $(this).attr("initialMargin")
			initial = parseInt(initial.substr(0,initial.length-2));
			$(this).css("marginTop",initial+diff);
			e.preventDefault();
			return false;
		}).bind(events.end,function(){
			if(obj.dragging){
				obj.dragging = false;
				$("#lista-detalle ul").unbind(events.move);
				var m = $("#lista-detalle ul").css("marginTop");
				m = parseInt(m.substr(0,m.length-2));
				var m2 = $("#lista-detalle ul").attr("initialMargin");
				m2 = parseInt(m2.substr(0,m2.length-2));
				var diff = m-m2;
				return false;
			}
		});
		return isTouchDevice();
	});

</script>
		
<div id="equipo" class="page-content">
	<a href="javascript:window.history.go(-1);" class="volver"></a>
	<div id="detalle">
		<div class="desc">
			<img src="images/bh_logo.jpg" alt="Logo" />
			<div id="lista-detalle">
				<ul></ul>
				
				<div id="bottom-detalle"></div>
				<div id="top-detalle"></div>
			</div>
			
		</div>
		<div class="producto">
			<h2 class="nombre"></h2>
			<img width="380" class="mainimg" src="" alt="imagen principal">
		</div>
		<div class="video">
				
		</div>
		<div class="bottom-box">
			<div class="caracteristicas-box">
				<div id="caracteristicas-generales">
					<h3>Características Generales</h3>
					<ul class="detalle">
						
					</ul>
				</div>
				<div id="skus" style="display:none;">
					<h3>Códigos de barra</h3>
					<ul>
					
					</ul>
				</div>
			</div>
			
			<div class="mas-info-box">
				<div class="precio">Precio: <span></span></div>
				<div class="stock">Stock: <span></span></div>
				
				<div class="opciones">
					
				</div>
			</div>
		</div>
		
		<div id="galeria"></div>
	</div>
</div>