<div id="home" class="page-content">
	<script>
	db.selectSql("SELECT * FROM categorias WHERE activo = 1 AND cat_padre = 0",[],function(categorias){
		
		for(var i in categorias){
			var val = categorias[i];
			$("#menu-container").append('<img width="150" class="menu_principal" src="'+UPLOADS_URL+val.imagen+'" name="" catid="'+val.id+'">');
		}
		
		$(".menu_principal").bind(app.clickevent,function(){
			$(this).animate({top:"40px",opacity:0},500,function(){
				$(".menu_principal").fadeOut();
				$(".page-content").fadeOut();
				window.location.hash = "categorias.html?cat_id="+$(this).attr("catid");
			});
		});
	},true);
	
	</script>
	<div id="menu-container">
		
	</div>
	<!--<img style="position:absolute;top:560px;left:430px" src="images/fitness.png" name="fitness.png" id="1">-->
	
</div>