
a              { color: #bb0000; }
                
.button {
                background: #950000 url('../images/bg-button-red.gif') top left repeat-x    !important;
                border-color: #940000 !important;

                }

#sidebar #main-nav li a.nav-top-item {
                background: transparent url('../images/bg-menu-item-red.gif') right center no-repeat;
                }

ul.content-box-tabs li a:hover {
                color: #bb0000;
                }              
                
.pagination a.current {
                background: #950000 url('../images/bg-button-red.gif') top left repeat-x    !important;
                border-color: #940000 !important;
                }
				
.action-button span:hover {
                color: #bb0000;
                }