/*Multi image CSS*/

.input.multi_image{border:solid 1px #ccc; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.input.multi_image .wrapper{padding:5px; overflow:hidden; }
.input.multi_image .wrapper label{font-size:15px; }
.input.multi_image .wrapper .controls{float:left; width:24%; min-width:100px; }
.input.multi_image .wrapper .uploadifyQueue{margin-right:10px; }

.input.multi_image .wrapper .images{margin-left:1%;  float:left; width:74%; overflow:hidden; border-left:dashed 1px #ccc; min-height:50px; }
.input.multi_image .wrapper .images img{display:none; }
.input.multi_image .wrapper .image{width:100px; position:relative; float:left; cursor:move; padding:5px; border:solid 1px #ddd; height:100px;  max-height:100px; margin-left:10px; margin-bottom:10px; overflow:hidden;  -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.input.multi_image .wrapper .image:hover{border-color:#999; }
.input.multi_image .wrapper .image img{width:100%; height:auto; display:block; }

.input.multi_image .wrapper .image:hover .delete{display:block; }
.input.multi_image .wrapper .image .delete{position:absolute; display:none; top:2px; right:2px; width:20px; height:20px;}
.input.multi_image .wrapper .image .delete span{ padding:0; margin:2px auto; }

.input.multi_image .wrapper .image:hover .view{display:block; }
.input.multi_image .wrapper .image .view{position:absolute; display:none; top:2px; right:26px; width:20px; height:20px;}
.input.multi_image .wrapper .image .view span{ padding:0; margin:2px auto; }

.input.multi_image .wrapper .image:hover .edit{display:block; }
.input.multi_image .wrapper .image .edit{position:absolute; display:none; top:2px; right:51px; width:20px; height:20px;}
.input.multi_image .wrapper .image .edit span{ padding:0; margin:2px auto; }

.input.multi_image .ui-state-default{cursor:pointer; }
.input.multi_image .ui-state-default:hover{background:#ccc; }

.input.multi_image .wrapper .image.placeholder{background:#eee; }